[2019-03-28 20:05] mmiesch opened #8 "Add environment variables to container"
Set in original docker/Dockerfile but not getting passed to Charliecloud container
e.g. NETCDF, PNETCDF, PIO

[2019-03-28 20:07] mmiesch opened #9 "Charliecloud on Cheyenne"
When /glade/work discs are mounted, multiple tests fail with an error message like this:

--------------------------------------------------------------------------
71: A call to mkdir was unable to create the desired directory:
71:
71:   Directory: /glade
71:   Error:     Read-only file system
71:
71: Please check to ensure you have adequate permissions to perform
71: the desired operation.
71:
-

[2019-03-28 20:10] mmiesch opened #10 "Quantify Container overhead on AWS"
For an application that takes a significant amount of time, e.g.
fv3jedi_var.x -- testinput/3dfgat_charlie_c48.yaml

Stick to single-node for now - later consider multi-node

[2019-04-17 20:43] #8 closed, assigned to mmiesch

[2019-04-22 22:43] #9 closed, assigned to mmiesch

[2019-04-22 22:49] mmiesch opened #14 "Multi-node singularity containers"
@mmiesch commented on [Mon Apr 22 2019](https://github.com/JCSDA/docker_base/issues/11)

See if we can achieve essentially native performance when running inside the Charliecloud container on Cheyenne.  This will require either installing the appropriate MPI drivers in the container (e.g. Mellanox infiniband libraries) or a passthrough procedure to mount the native MPI libraries inside the contain

[2019-10-31 18:24] rhoneyager opened #19 "Intel containers and libimf.so"
I am trying to script the Charliecloud containers to execute tasks within a cron job, but am having some trouble with both the Intel 17 and 19 containers. I am getting repeated errors stating: ```error while loading shared libraries: libimf.so: cannot open shared object file: No such file or directory```

With the Intel 17 container, this fails:
[code]
This also fails:
[code]
But, this works:
[cod

[2019-12-03 20:32] #19 closed, assigned to mmiesch

[2020-01-10 23:30] mmiesch opened #23 "upgrade intel19 container"
Intel just released version 19.1 as part of parallel studio 2020.  See if this fixes the silent install bug.  If so, then consider moving the intel CI testing to intel 19 instead of intel 17

[2020-01-27 22:33] mmiesch commented on #23
Update - I tried Intel Parallel Studio 2020, which has version 19.1 of the intel compiler.  But, the silent install problem still exists.  It has not been fixed.

[2020-03-04 19:42] mmiesch opened #26 "Delete Singularity repo?"
If there are no objections, I'd like to delete the JCSDA/singularity repository.

The public singularity and charliecloud containers are now generated together, in one action, using this build script in the charliecloud repository:
https://github.com/JCSDA/charliecloud/blob/develop/build_public_container.sh

The webhook that triggers an automated build from the Singularity repo to Singularity Hub

[2020-03-04 21:04] xinzhang8noaa commented on #26
No  problem !

[2020-03-04 21:15] srherbener commented on #26
I'm good with deleting the singularity repo. Thanks

[2020-04-02 16:44] mmiesch commented on #14
I changed the title on this.  I'm using AWS, S4, and Discover as the testbeds now rather than Cheyenne and Singularity rather than Charliecloud.  I've made progress on gnu-openmpi containers but I want to focus on the more challenging case of Intel because this is higher-performance and available on the target HPC systems that have singularity.

[2020-04-03 16:28] #10 closed

[2020-04-03 17:42] #26 closed, assigned to markjolah, ytremolet, xinzhang8noaa, srherbener

[2020-05-01 21:26] mmiesch opened #27 "clean up hpc-intel feature branch"
The intel hpc containers are working but the different build scripts need to be unified with hpccm.

[2020-05-12 18:29] #27 closed, assigned to mmiesch

[2020-05-28 19:38] mmiesch commented on #23
The bug is still there in the latest intel parallel studio 2020.1.  So, specifying the components in the silent config file does not work.  At the suggestion of someone on Intel Developer Zone, I also tried specifying the components on the command line with the `--components` option to `install.sh`.  But, this did not work either. I also tried using the `_online` customizable version of the intel

[2020-05-28 20:03] #14 closed

[2020-06-05 23:47] #23 closed, assigned to mmiesch

[2020-06-08 13:41] mer-a-o opened #31 "Install xarrray in clang contianer"

[2020-06-08 13:57] mmiesch commented on #31
Why the clang container in particular?  Should we just add it to the general list of python packages in jedi-stack?

[2020-06-08 14:00] mer-a-o commented on #31
I was about to add other containers too. I am debugging CodeBuild errors in https://github.com/JCSDA/ioda-converters/pull/265 and adding requirements for each container one-by-one.

[2020-06-08 14:10] mmiesch commented on #31
I just added it to [jedi-stack](https://github.com/JCSDA/jedi-stack/blob/72699f2065a27e5468ceeffb0d05bd495b0c7e62/buildscripts/libs/build_pyjedi.sh#L26).  This should take care of it for all containers.   It will take effect later this week as part of our mini-merge sprint with eckit.

[2020-06-22 19:10] #31 closed, assigned to mmiesch

[2020-06-25 17:31] mmiesch opened #34 "Make container repos public?"
I've had discussions with several colleagues now about our container workflow, including Richard Hattersley of the UKMO this morning.  Does anyone mind if we make our `docker_base`,  `docker`, and `containers` repositories public so we can share our process?  `jedi-stack` is already public.  The `containers` repo does include the name of our intel license file, but not the file itself.  Similarly

[2020-06-25 18:05] xinzhang8noaa commented on #34
I support it !

[2020-06-26 15:28] rickgrubin commented on #34
In support; a few thoughts based on communication outside of this ticket:

- both valuable and appropriate to share software developed as open source
- sharing this sort of software may lead to innovation we can utilize

Security concerns:

- given how Intel's licensing structure works, this isn't a concern
- the ubuntu server gpg key does reduce security, but only for the instance creation of a s

[2020-06-26 16:02] mmiesch commented on #34
Thanks @rickgrubin - good point about the license.  I'll add that.  How does the ubuntu server gpg key reduce security?  This is already a public key provided by ubuntu, accessible to anyone.

[2020-06-26 16:12] rickgrubin commented on #34
Ubuntu server gpg key: if someone has access to it, ***any*** available software on the server could be obtained and installed.

As it could be used outside of a container and on a physical host, it's possible -- though unlikely -- to download malware'd software, or overwrite existing installed packages.

This wouldn't be an issue for JCSDA, since public keys can be obtained with relative ease. I

[2020-06-26 16:34] gibbsp commented on #34
Speaking of Apache, what do you guys know about the 'Creative Commons Zero
1.0 Universal Public Domain
Dedication' ?

Phil.

On Fri, Jun 26, 2020 at 10:12 AM Rick Grubin <notifications@github.com>
wrote:

--
Philip Gibbs
Executive Officer
Joint Center for Satellite Data Assimilation (JCSDA)
t: (303) 497-2922
c: (720) 592-6375

[2020-06-26 16:48] rickgrubin commented on #34
I know of the CC license; have not used / encountered it.

Here's a reasonable comparison of licenses that may be applicable:

https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licences

[2020-06-26 16:56] mmiesch commented on #34
Yes, we need to review our licenses and make sure they are up to date.  I have no expertise here - I just know what the files say.  For example, [the LICENSE file in oops](https://github.com/JCSDA/oops/blob/develop/LICENSE), which [still lists the owner as ECMWF](https://github.com/JCSDA/oops/blob/d71b176ec9d5de9a14167d368bed9eaa24ec2442/LICENSE#L190).

Is a single file like this in the repo suffi

[2020-06-26 16:59] ytremolet commented on #34
As far as I know we need both.

[2020-06-26 17:00] ytremolet commented on #34
I have a script somewhere that goes through all the files in a repo and adds the license in the correct format depending on the file extension. I'll look for it.

[2020-06-26 17:03] mmiesch commented on #34
Great - that would be useful.  We could put it in the jedi-tools repo for general use.

[2020-07-10 21:12] rhoneyager opened #36 "Install gdb in the Intel containers"
The Intel containers do not have gdb installed. This is problematic because we cannot debug.

I've hit a situation in JCSDA/ioda-engines#76 where I am encountering a segfault that only occurs inside the Intel containers.

[2020-07-10 21:53] mmiesch commented on #36
What container are you using?  If Docker or Singularity you can install gdb yourself for debugging.  I'd have to check for Charliecloud.

[2020-07-10 22:59] mmiesch commented on #36
I'm not sure why it's not there - intel PS comes with it and it wasn't deliberately removed.  It will take some investigation next week.  But, as I said, if you use docker or singularity you can install the gnu version on your own for debugging purposes.  Let me know which you want to work with and I can give you further info.

[2020-07-12 02:41] rhoneyager commented on #36
Unfortunately, Charliecloud.

I'll spin up a Docker container in the meantime.

[2020-07-13 16:39] mmiesch commented on #36
Strange - I had mentioned before about a bug in the install of intel 19/20 parallel studio  where it was ignoring the component list.  Apparently it's not completely ignoring it.  This is fixed - I'm just regenerating the containers now - will be done within the hour.

[2020-07-13 19:49] mmiesch commented on #36
@rhoneyager - Ok, the latest intel 19 docker, singularity, and charliecloud containers on AWS S3 should be updated with the the intel version of gdb, `gdb-ia`.   I have not tested these yet - please let me know if you notice a problem.  @mer-a-o - there is no need to change the container on AWS for CI because the only change should be this, which is not needed for CI.

[2020-07-20 15:21] #36 closed, assigned to mmiesch

[2020-08-18 17:43] mmiesch opened #38 "Release Application containers"
When the release is ready, create HPC-ready application containers

- [ ] intel 19
- [ ] gnu openmpi

[2020-09-14 15:09] rhoneyager opened #39 "Rebuild containers for jedi release"
New packages have been added to the stack, and package versions have been bumped for the jedi release. Once JCSDA/jedi-stack#152, JCSDA/jedi-stack#146, JCSDA/jedi-stack#143, JCSDA/jedi-stack#141, et al. are resolved, the containers should be rebuilt.

[2020-09-14 17:12] mmiesch commented on #39
Yep - this is planned: https://github.com/JCSDA/containers/issues/39 Maybe this is a duplicate issue?

[2020-09-14 18:44] rhoneyager commented on #39
I somehow missed #38. Huh.

Could we do a rebuild before the release to add the new libraries for the CI testing?

[2020-09-14 18:44] #39 closed, assigned to nobody

[2020-09-15 14:58] wsmigaj commented on #39
That would be really handy for the CI testing of PRs related to `Parameters`.

[2020-09-29 15:08] mmiesch opened #40 "New development containers"
To add to the new containers

- lcov 1.15
- json schema validator
- gsl_lite
- pybind11
- make stack size unlimited

[2020-09-29 16:57] mmiesch commented on #40
@mer-a-o @wsmigaj - I'd like to consolidate all the changes needed to the development containers here in one place so when I rebuild them I don't forget anything.   Am I missing anything?

[2020-09-29 17:01] mer-a-o commented on #40
@rhoneyager, you mentioned another package that will be needed soon. I don't remember its name.

[2020-09-29 17:03] mmiesch commented on #40
Ah yes - it is gsl-lite?  Should we add that to the containers?

[2020-09-30 08:11] wsmigaj commented on #40
@mmiesch All the things I requested are already on your list. Thanks for checking with me!

[2020-09-30 15:09] rhoneyager commented on #40
@mmiesch Yes. See jedi-stack issue re: version.

[2020-10-01 17:19] danholdaway commented on #40
@mmiesch can you add fms please?

[2020-10-01 17:20] mmiesch commented on #40
Done - thanks @danholdaway - I'll "assign" other core team members to this issue as well to see if anyone else has requests to add anything

[2020-10-02 14:38] srherbener commented on #40
@mmiesch, thanks for this update.

When you say the containers will be updated, does this also include the module configurations on the HPC systems?

I just want to know for planning purposes with the ioda-engines repo (which uses gsl-lite) for the release.

Thanks!

[2020-10-02 19:36] mmiesch commented on #40
@srherbener - this is separate from the hpc modules, though related.  When I re-build the containers, I will use the develop branch of jedi-stack so it will automatically get all the updated versions for hdf5, netcdf, ecbuild, eckit, etc.  This question really addresses new things that the containers do not have now but should have.

I believe most, if not all of the HPC modules now have gsl-lite.

[2020-10-02 21:22] srherbener commented on #40
@mmiesch thanks for the explanation. I think the list looks good (nothing to add).

[2020-10-14 16:41] #40 closed, assigned to legibe, shlyaeva, mmiesch, rickgrubin, benjaminmenetrier, ytremolet, xinzhang8noaa, srherbener, cmgas

[2020-11-02 15:39] ytremolet commented on #34
@mmiesch What is the status of this?

[2020-11-02 15:46] mmiesch commented on #34
I think the consensus is to go ahead and make them public.   But, I would want to go through the license files and make sure they are correct.  And, maybe add the license info to the hpccm python files. I have a few other higher-priority things this week. But I can put it in the November milestone.

[2020-11-03 21:20] mmiesch opened #42 "upgrade containers to ubuntu 20.04"

[2020-11-06 17:20] mmiesch opened #43 "Intel OneAPI Containers"
Look into the possibility of building and distributing Intel OneAPI development containers.  This may be a way to provide a free intel development environment, including compilers and intel MPI, as an alternative to Parallel Studio.

[2020-12-04 15:27] mmiesch opened #44 "JEDI on Pleiades"
Work with sys admins and users to implement and test single-node and multi-node JEDI singularity containers on NASA's Pleiades platform

[2020-12-04 16:12] mmiesch commented on #38
Modify this slightly - HPC development containers would be more useful for users than an application container.  But, for intel we still need to do an application container because we can't (yet) distribute the compilers.

Also, we have at least one user who is interested in running across nodes on Plieades.  Plieades does not support Openmpi.  But, we can make an HPC version of the clang/mpich co

[2020-12-04 16:15] mmiesch opened #45 "Update vagrantfile"
Update the vagrantfile to use Singularity 3.6+ and test it.

[2020-12-04 16:23] mmiesch opened #46 "Security for S3 buckets"
Create alarms that will alert us if there is excessive egress from any of our public S3 buckets and create a response plan to properly address this if it happens

[2020-12-04 18:09] mmiesch commented on #43
This has become more urgent in light of https://github.com/JCSDA-internal/jedi-stack/issues/47.

I think our intel license file has expired so, after the holidays, we will have to rebuild the intel development and application containers with Intel Gold, including the CI.  So far we haven't seen that license failure in the CI for the current intel containers but keep an eye out for it.

[2020-12-04 18:26] mmiesch opened #47 "Update jcsda-jedi-tutorial AMI"
Move to Singularity 3.6+
Otherwise the container verification won't work

[2020-12-16 15:25] #34 closed, assigned to markjolah, mmiesch, thomasauligne, rickgrubin, ytremolet, xinzhang8noaa, gibbsp

[2020-12-19 00:15] #47 closed, assigned to mmiesch

[2021-01-06 16:32] #44 closed, assigned to mmiesch

[2021-01-07 00:00] mmiesch opened #49 "Rethink Intel OneAPI containers"
We now have a reliable word from Intel legal that we are not permitted to distribute Intel OneAPI in containers, even though it is freely available.

So, the best strategy seems to be:

1. distribute gnu and clang development containers, which should be sufficient for most developers
2. distribute intel application containers for each release that do not include the compilers
3. distribute a simpl

[2021-01-12 19:13] mmiesch opened #50 "New devel containers"
Build new gnu and clang development containers with these new features:

- [x] ubuntu 20.04 OS
- [x] bufrlib replaced with bufr
- [x] add clang-tidy

Problems solved: CI is failing in some places because of the deprecated bufrlib ([example](https://github.com/JCSDA-internal/ioda-converters/pull/388))

Note that the intel devel containers are already being rebuilt, as already covered in a [separate

[2021-01-12 20:14] mmiesch commented on #50
I'm trying to build new containers with bufrlib replaced by bufr but now I'm getting this.  @aerorahul @srherbener - any ideas?  I could have sworn I tried this before in the containers and it worked - the only difference now being I'm using ubuntu 20.04 but I don't know why that would make a difference:

[code]

[2021-01-12 20:17] mmiesch commented on #50
Looks like the tag is wrong.  It should be this @aerorahul @srherbener do you agree?

[code]

[2021-01-12 20:17] aerorahul commented on #50
Is that a valid tag `bufr_v11.4.0.jcsda1`?
I think you want  `11.4.0.jcsda1`

[2021-01-12 20:25] srherbener commented on #50
I agree. Clone from jcsda-internal/NCEPLIBS-bufr and use the tag 11.4.0.jcsda1.

[2021-01-12 20:39] mmiesch commented on #50
Ok - looks to be working now.   I have a bugfix branch in jedi-stack.

While I'm at it, should I delete the bufrlib build script, modulefile, etc?

[2021-01-12 20:43] srherbener commented on #50
@cmgas is running into this issue too, what is the bugfix branch in jedi-stack so she can try it out.

[2021-01-12 20:51] mmiesch commented on #50
It's called `bugfix/update-udunits` because the udunits build is also failing.

I have a meeting now but after the meeting I'll do a PR in jedi-stack.   @srherbener @aerorahul - should I delete all the old bufrlib stuff in favor of bufr?

Also - I think this bugfix branch also addresses email comments by @rickgrubin

[2021-01-12 20:52] aerorahul commented on #50
@mmiesch Deleting `bufrlib` stuff is fine with me.

[2021-01-12 20:53] srherbener commented on #50
I vote to delete the old bufrlib stuff in favor of bufr. All of the converter code builds with bufr and passes tests.

[2021-01-12 21:34] rickgrubin commented on #50
Glad to see that Unidata has finally made available an updated version of udunits -- I've been using an interim version that they sent me with bug fixes I submitted.

And thanks for fixing the disconnect in `build_bufr.sh` -- the changes look good in the bugfix branch.

[2021-01-12 22:04] mmiesch commented on #50
@mer-a-o (and anyone else) - the new gnu and clang docker containers have been built with the above changes and are ready for testing.   They are available on docker hub with the tag `:beta`.    When we confirm that they work, we can re-tag them as latest and incorporate them into the CI.

@srherbener - are the current develop ioda tests sufficient for confirming that the new `bufr` libraries are

[2021-01-12 22:08] mmiesch commented on #50
Doh! already found an error in the .gitconfig - I'll fix that.

[2021-01-12 22:11] srherbener commented on #50
@mmiesch, we need to test using ioda-converters to verify that the bufr module is working.

[2021-01-13 00:28] mmiesch commented on #50
The gnu docker container is ready for testing now.  The gitconfig issue has been fixed.  All ioda-converters tests pass so bufr is working.

But, three failures in ufo-bundle - has anyone seen these before?

[code]

I'll rebuild the clang container next

[2021-01-13 01:31] mmiesch commented on #50
Ok - the new clang container is also ready for testing.  Again, it has a tag of `:beta` on Docker hub.   For the clang container, all ioda-converters and ufo-bundle tests pass.  So, that one might be good to start with in incorporating into the CI testing.

Meanwhile, tomorrow I can try to figure out why those l95 tests are failing in the new gnu container.  @cmgas @ytremolet @shlyaeva - have you

[2021-01-13 15:43] ytremolet commented on #50
I've not seen those before. One point that might help is that they all have in common that they do minimisation in observation space, i.e. using ObsVectors.

[2021-01-13 20:20] mer-a-o commented on #50
@mmiesch all the tests in fv3-bundle passed inside the clang container on CodeBuild.

[2021-01-13 20:30] mmiesch commented on #50
Ok - thanks for confirming.  I have saved the previous clang container on Docker Hub with the `:revert` tag and the new one is now `:latest`

[2021-01-13 21:42] cmgas commented on #50
I have not seen these errors before either. Is it segfaulting? Or something else?

[2021-01-13 21:49] mmiesch commented on #50
It's strange - it looks like nans might appear in the increment dot product:

[code]

However, I only see this in the gnu container with a RelWIthDebInfo build.  If I build in the gnu container in Debug mode it gose away.  If I build on my Mac (which also uses gnu 9.3 and openmpi - same as the container)  with RelWithDebInfo it passes (making debugging harder).  And, it passes in clang.

[2021-01-14 19:04] mmiesch commented on #50
@ytremolet @cmgas - I may have found the problem and, if correct, it is a legitimate bug.

In DualMinimizer::doMinimize, the "starting point augmented part" `vvp` is declared here:
https://github.com/JCSDA-internal/oops/blob/a47cc20415e3ec06693446f49ac1f913ee6763b4/src/oops/assimilation/DualMinimizer.h#L95

But it is not defined before it's used in the linear solve here:
https://github.com/JCSDA-i

[2021-01-14 19:15] mmiesch commented on #50
More to the story.  If I do initialze vvp to zero as I suggested, then the good news is that some of the test failures above now pass.  But, the bad news is that other tests fail:

[code]

I'm not sure what the correct value of vvp should be going in

[2021-01-14 19:47] cmgas commented on #50
Ok this is weird, because test_l95_simplifiedl95_DRPLanczos shouldn't use that part of the code, should it?

[2021-01-14 19:49] cmgas commented on #50
But you are right, vvp is used before it is initialized for example here:
https://github.com/JCSDA-internal/oops/blob/a47cc20415e3ec06693446f49ac1f913ee6763b4/src/oops/assimilation/RPCGMinimizer.h#L190

[2021-01-14 19:51] cmgas commented on #50
I tested on my laptop in the stack, and if I initialize vvp=0 in DualMinimizer.h, I do not see test failures.

[2021-01-14 19:52] mmiesch commented on #50
Yes - exactly - that's where it is propagating.

[2021-01-14 19:56] cmgas commented on #50
This part of the code affects solely RPLanczosMinimizer.h and RPCGMinimizer.h though, it shouldn't break these other tests.

[2021-01-14 19:56] cmgas commented on #50
Do you have the error message?

[2021-01-14 20:08] mmiesch commented on #50
Ok - I see the problem.  To do the debugging, I had these flags set:

[code]

Which reveals errors like this (in test_l95_simplifiedl95_DRPFOM):

[code]

And, I can mostly reproduce that on my Mac - if I set those flags, these tests fail:

[code]

But, if I turn off those flags, then all tests pass in the container and on my Mac

[2021-01-14 21:30] mmiesch commented on #50
Oops - I didn't mean to close this quite yet.  @mer-a-o [with this PR in oops](https://github.com/JCSDA-internal/oops/pull/1032), all ufo-bundle tests pass in the new gnu-openmpi docker container (tagged as `:beta` on Docker Hub).  If you confirm that that works, then I will re-tag beta as latest and then we can close this

[2021-01-15 21:38] mer-a-o commented on #50
@mmiesch all fv3-bundle tests passed in gnu container. I see the error below when I building fckit and using `-DENABLE_GPROF=ON`. We can still generate code coverage reports if we only build fv3-jedi (`cd build/fv3-bundle && make -j8`) and not the complete bundle.

[code]

We have discussed this error in the past but never found a solution: https://github.com/JCSDA-internal/jedi-docs-old/pull/261

[2021-01-15 22:03] mmiesch commented on #50
Thanks @mer-a-o for testing.  In practice we usually just do the codecov tests in each repo, right?  I.e. not the whole bundle at once?  So, the fckit issue shouldn't be much of a problem for CI, right?  But, it may be annoying if people run gcov outside of CI (which I think was the context of that other comment).  Maybe we can revise the docs and tell people how to enable gprof for one JEDI repo

[2021-01-15 22:27] mer-a-o commented on #50
Correct. In CI, we run codecov in each repo and not for the whole bundle. So we are not going to face any problem in CI for now.

[2021-01-19 21:39] #50 closed, assigned to mer-a-o, mmiesch

[2021-01-20 20:50] #45 closed, assigned to mmiesch

[2021-01-27 00:10] #43 closed, assigned to mmiesch

[2021-02-03 15:11] #38 closed, assigned to mmiesch

[2021-02-23 15:02] #49 closed, assigned to mmiesch

[2021-02-23 15:02] #42 closed, assigned to mmiesch

[2021-03-04 22:51] mmiesch opened #54 "Intel OneAPI Application container Release 1.0.0"
## Description

The first step in benchmarking JEDI on Azure is to create an Intel OneAPI application container with version 1.0.0 of the fv3-bundle and Mellanox drivers that they can run.

## Requirements

* release 1.0.0 of fv3-bundle: source code and compiled code, with test data
* intel runtime libraries
* mpi testing and benchmarking tools

## Acceptance Criteria (Definition of Done)

The Azu

[2021-03-04 22:51] #54 closed, assigned to mmiesch

[2021-03-04 22:57] mmiesch opened #55 "Multi-node Singularity test on Azure"
## Description

Now that the Azure team can run the JEDI application container on a single node, the next step is for them to successfully run the container across two or more nodes.

## Requirements

* Run the hello_world_mpi application inside the container across two or more Azure nodes

In order to achieve this we will have to define a new version of the [singularityvars environment module](ht

[2021-03-04 23:07] mmiesch opened #56 "3D EnVar Benchmark for Azure"
## Description

Provide a benchmark application for multi-node Azure performance testing.  We originally considered a NRT fv3-gfs c768 Hofx application but I don't think the Azure team will be satisfied with this.  They want something that requires multiple nodes to run but I ran that application on a single AWS node with 24 cores/tasks and it only takes a few minutes.  So, only a few core hours.

[2021-03-04 23:07] mmiesch opened #57 "3D EnVar Benchmark for Azure"
## Description

Provide a benchmark application for multi-node Azure performance testing.  We originally considered a NRT fv3-gfs c768 Hofx application but I don't think the Azure team will be satisfied with this.  They want something that requires multiple nodes to run but I ran that application on a single AWS node with 24 cores/tasks and it only takes a few minutes.  So, only a few core hours.

[2021-03-04 23:11] mmiesch commented on #56
Strange - this seems to have been created twice - closing this one

[2021-03-04 23:11] #56 closed, assigned to markjolah, mmiesch, danholdaway

[2021-03-31 21:35] mmiesch commented on #57
Closing this in lieu of https://github.com/JCSDA-internal/fv3-jedi/issues/133

[2021-03-31 21:35] #57 closed, assigned to markjolah, mmiesch, danholdaway

[2021-05-05 00:05] #55 closed, assigned to mmiesch

[2021-06-02 15:46] mmiesch opened #60 "UKMO container"
## Description

Build container for running UM-jedi

## Requirements

Build off of JEDI gnu development container with definition files from yash.

## Acceptance Criteria (Definition of Done)

produce container that can be used to build/run UM-jedi

## Dependencies

None

[2021-06-16 14:11] #60 closed, assigned to mmiesch

[2021-08-30 15:03] mmiesch opened #63 "Update containers before Sept 27"
## Description

AWS is changing the CodeBuild OS from Amazon linux 1 to 2. As part of this change, the Dockerfiles that are used to create the containers must include the following line:

[code]

This change will take effect on Sept 27.  So, we will have to regenerate the CI containers.

While we are at it - is there anything else we should add to the containers?  Tagging @rhoneyager from OBS and

[2021-08-31 20:25] mmiesch commented on #63
There is a [suggestion here](https://github.com/JCSDA-internal/mpas-jedi/pull/618) to update gfortran to 10+ in the new containers.

[2021-09-14 21:52] mmiesch commented on #63
@mer-a-o - I am afraid we will have to re-generate the gnu and clang containers with this change:

https://github.com/JCSDA-internal/docker/pull/50

This fixes the annoyting locale-related warning messages we've been seeing.

I am still working on getting the ioda python bindings to work in the gnu development container.  I believe it is a conflict wtih conda.  I don't know how to solve it yet but

[2021-09-29 15:45] #63 closed, assigned to mer-a-o, mmiesch

[2021-10-13 14:27] mmiesch opened #65 "restrict access to jscda-ukmo bucket"
## Description

Restrict access to s3://jcsda-ukmo to modarth and jedi core team

## Requirements

Others should not be able to access it

## Acceptance Criteria (Definition of Done)

permissions are in place and tested

## Dependencies

None

[2021-10-22 12:23] mer-a-o commented on #65
Access to jcsda-ukmo bucket is now limited to selected users and CodeBuild

[2021-10-22 12:23] #65 closed, assigned to mmiesch

[2022-03-31 19:28] #46 closed, assigned to hahnd, mmiesch, rickgrubin

[2022-04-21 14:28] jeromebarre opened #68 "Mac switches off near end of make when using containers"
Not sure this is the correct repo to put this issue.

Iuse two containers and the compilation switches off my mac near the end of it.
I have the clang and gnu containers (I haven't tried with the intel but I expect to be the same).
When I turn my mac back on and log back in into singularity I cna finish the few percent left of the make.

I expect this to be caused by an overheating of the computer

[2022-04-21 14:40] climbfuji commented on #68
One thing you can do is look at the Activity Monitor (Applications -> Utilities) to see resource usage (memory, CPU). You can try to throttle things down a bit using `nice -n 19 YOUR COMMAND` which gives it the lowest priority. Not expecting this to make a huge difference, but worth giving it a shot.

[2022-04-21 20:33] jeromebarre commented on #68
No difference, mac is still crashing at the end of the make. I'll try to find a solution as this is really not convenient.

[2022-04-21 20:46] mer-a-o commented on #68
I have an older Mac so I don't run containers on it. I know @svahl991 uses Singularity containers on his Mac for UM development.

[2022-04-21 20:48] jeromebarre commented on #68
I'm looking at using `ulimit` maybe that will work.

[2022-04-21 20:58] svahl991 commented on #68
How long does the compiling take? Does your computer maybe go to sleep or otherwise shut down something for power-saving? I have had troubles with Vagrant/Singularity "hanging" when my Mac goes to sleep, so I disable that feature when I have the VM running.

Other than that, I've never experienced anything like what you describe. My Mac is a bit beefier than the one you're working with, though.

[2022-04-21 23:41] jeromebarre commented on #68
Unfortunately, turning off all energy saving options didn't solve the issue. I had a try and my mac started to freeze more and more up to a total freeze and then fan goes on very loud for a couple seconds and mac shuts off... Maybe using `ulimit` will solve this. I'll try tonight or tomorrow. Beefier mac is an option if JCSDA provides me one. Or stop working on my local machine.

[2022-04-22 02:23] climbfuji commented on #68
Can you enlighten me please how ulimit is supposed to help?

[2022-04-22 13:26] jeromebarre commented on #68
My understanding is that with ulimit you can control the amount of ressources used by a process. Given your comment above there might be something I am missing or not understanding.

[code]

    Provides control over the resources available to the shell and processes
    it creates, on systems that allow such control.

    Options:
      -S	use the `soft' resource limit
      -H	use the `hard' res

[2022-04-22 13:38] jeromebarre commented on #68
Currently what is set to default on my VM with vagrant:
[code]

So things set to unlimited such as max memory size and virtual memory could be a problem. But I am not an expert here...

[2022-04-22 13:41] jeromebarre commented on #68
Also another solution is to modify the vagrant file, currently there this section commented:
[code]

[2022-04-22 13:49] jeromebarre commented on #68
or something like this to control cpu usage
[code]
to set a cap to 50% of cpu usage. This might be the correct solution as I think the mac shut down is probably due to a cpu overload.

[2022-04-22 16:01] jeromebarre commented on #68
Capping cpu and ram on the vagrant file seems to solve the issue so far. I am closing the issue but might reopen if this still occurs.

[2022-04-22 16:01] #68 closed, assigned to nobody

[2022-04-22 16:07] climbfuji commented on #68
Wow, didn't expect that. Great detective work!

[2022-10-04 10:21] yaswant opened #69 "ecbuild missing from latest image"
## ecbuild missing from latest image (30 Sept 2022)

In the latest Singularity images (from both Sylabs and Docker hub) `ecbuild` seems to be missing.  This is breaking some container-image-dependent workflow.  The current work around is to use image with revert tag.

Can we have a patch sooner if possible, please?

[2022-10-04 12:48] climbfuji commented on #69
@mer-a-o Didn't we test (manuall) and don't we use the containers in CI routinely? They wouldn't work if they didn't have `ecbuild`?

[2022-10-04 12:50] yaswant commented on #69
@climbfuji - I was going to ask the same question.

[2022-10-04 14:28] climbfuji commented on #69
@yaswant In the CI tests, we need to run the following for the clang container:
[code]
See https://github.com/JCSDA-internal/fv3-jedi/blob/develop/CI/buildspec_clang.yml

[2022-10-04 14:38] yaswant commented on #69
Thanks @climbfuji that's what we were missing.  By the way, why is that not sourced automatically when the container is loaded?

[2022-10-04 14:55] climbfuji commented on #69
Please let us know once you are sure the containers work for you, then we can close this issue. Thanks!

[2022-10-04 15:13] yaswant commented on #69
will do. thanks!

[2022-10-10 12:34] yaswant commented on #69
@climbfuji I am still straggling to get things work using the latest image

[code]

[2022-10-10 13:03] climbfuji commented on #69
I have not used the singularity containers myself, I've only used the original docker containers. @mer-a-o how did you test the singularity containers after creating them from the docker containers?

[2022-10-10 15:10] yaswant commented on #69
@climbfuji there are two instances:
1. from [DockerHub](https://hub.docker.com/r/jcsda/docker-gnu-openmpi-dev) - we use in github build/test pipeline
2. from [Sylabs cloud](https://cloud.sylabs.io/library/jcsda/public/jedi-gnu-openmpi-dev) - verified and used on our local network.  My example above was based on this.

If the same container image is used for JEDI CI, I believe we are missing someth

[2022-10-10 15:10] mer-a-o commented on #69
@climbfuji This is the same error @fmahebert reported with running Singularity + Vagrant on Mac. @yaswant Are you using Vagrant with Singularity?

[2022-10-10 15:11] yaswant commented on #69
@mer-a-o no I don't.

[2022-10-10 15:12] climbfuji commented on #69
I wonder if we should try creating the singularity container straight from spack (in parallel to the docker container)

[2022-10-10 15:13] mer-a-o commented on #69
@yaswant Where are you running Singularity? Can you please provide more info? Is it possible to use Docker instead of Singularity?

[2022-10-10 15:17] yaswant commented on #69
The CI workflow is running on MetOffice/GitHub - I am afraid this is a private repo.  Here we use the Docker image.

And for Singularity, we are running on our local Linux network.

[2022-10-10 15:34] mer-a-o commented on #69
@yaswant, thanks. Was the issue resolved with Docker/CI workflow after `source /etc/profile.d/z10_spack_environment.sh`?

I will work on the Singularity problem. Meanwhile, I believe you can use the old Singularity container (revert tag). You will need to build atlas 0.30.0 in it though.
[code]
Or depending on your local linux network setup you may be able to use Docker.

[2022-10-10 15:59] yaswant commented on #69
No.

Therefore, we continue with the old image -> `revert` tag.

We don't have the flexibility to run Docker image on our Linux network.  So when you patch the Singularity image I should be able to test it.

[2022-10-11 08:53] climbfuji commented on #68
If your problem is really that the cpu overheats, then I’d be surprised if limiting the memory etc helps - but it wouldn’t be the first time to be surprised, and testing your hypothesis won’t take long.

[2022-11-16 02:44] mer-a-o commented on #69
@yaswant, we updated the Singularity and Docker images, please see [here](https://github.com/NOAA-EMC/spack-stack/pull/391) for details. Shumlib is now included in the images. Can you please test them when you get a chance?

[2022-11-16 17:31] yaswant commented on #69
Thanks @mer-a-o - I'll take a look asap.  Do we have the updated docker images available on DockerHub as well?

[2022-11-16 18:20] mer-a-o commented on #69
Thanks @yaswant. I just updated the "latest" tags on DockerHub.

[2022-11-17 10:22] yaswant commented on #69
@mer-a-o  - still failing to find `ecbuild`

![image](https://user-images.githubusercontent.com/2984440/202421090-7e2b8b26-fcbe-43be-9c60-817b1e8bf5d6.png)

[2022-11-17 15:20] mer-a-o commented on #69
@yaswant You will still need to source the Spack env file.
`source /etc/profile.d/z10_spack_environment.sh`

I'm setting up GitHub Actions for our ewok repository and I'm loading container at the beginning of the job [there](https://github.com/JCSDA-internal/ewok/blob/c6b9cec66fd946da5ac380fbb590e4e360c7a150/.github/workflows/run_ec2_container.yaml#L24). Have you considered doing something similar

[2022-11-17 15:57] yaswant commented on #69
@mer-a-o Ah! I see.  I thought we agreed that to be sourced automatically at `docker run` or `singularity shell`.  If possible to make a change we'd prefer that,

- Inclusion of shumlib is very welcome 👍🏽
- Update to all ecmwf libraries also welcome 👍🏽

I can remove them from our build ci to save some time.

Thank you for the fix.

[2022-11-17 16:08] yaswant commented on #69
Build has not finished yet, but I see this warning

[code]

[2022-11-17 20:40] climbfuji commented on #69
Did the build finish and did the code run? Asking because it says "warning"

[2022-11-17 20:57] yaswant commented on #69
Hi @climbfuji yes the build succeed, but most of the unit opsinputs tests failed like:

[code]
I think shumlib is build correctly in the container, but `/opt/view/lib` is missing from `LD_LIBRARY_PATH` and the opsinputs application is looking at wrong place for it.  We can fix this easily (add `/opt/view/lib` to `LD_LIBRARY_PATH` in `/etc/profile.d/z10_spack_environment.sh`).  If you have time ple

[2022-11-17 21:04] climbfuji commented on #69
Thanks, Yash. Yes, the shumlib build system is wonky, not following any of the standard build types, and looks like spack doesn't know how to handle it well. We can hopefully update the spack recipe for shumlib and get the build done right.

[2022-11-17 22:12] yaswant commented on #69
@climbfuji an update: modifying LD_LIBRARY_PATH deosnot work.  I guess spack build has set incorrect `RPATH` for `shumlib` ?

[2022-11-17 22:26] climbfuji commented on #69
Hmm, so what happens is that that the code gets built in a certain directory `/tmp/root/spack-stage/spack-stage-shumlib-macos_clang_linux_intel_port-7nbwz2c7e2wsbypdgs22pwm7ga2lbkag/spack-src/spack-build/` and then installed in a different location. spack should relocate the rpath and it seems it does that correctly everywhere else, because we install and use shumlib on other systems (HPCs, macOS)